@import url('https://fonts.googleapis.com/css2?family=Roboto:weight@300;400;700&display=swap');

body{
    font-family:'Roboto', sans-serif; /*[cite:10}*/
    margin:0;
    padding:0;
}

header {
    background-color:blueviolet;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    gap : 20px;
    margin : 30px;
    min-height: 80vh;
}

nav {
    text-align: left;
    ul{
        list-style-type: none;
        padding: 0;
    }   
    width: 20%; /* Αριστέρο μενού πλοήγησης[cite:12] */
    float: left;
    background-color:#f4f4f4;
    padding: 20px;
    min-height: 80vh;
}

.box {
    display: flex;
    border:3px solid orange;
    padding: 10px;
    margin: 20px auto; width: 80%; box-sizing: border-box;
}

 .image { 
    width:100%;
    height:auto;
    border : 3px solid orange;
 }

 .text-box {
    background-color:#e2e2e2;
    color:black;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-sizing: border-box;
}

.epikoinonia-bg {
    background-image: url("eikona1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

 section {
    background-color: white;
    color: black;
    text-align: left;
    width: 200%; /*Κύριο περιεχόμενο[cite:13]*/
    padding: 20px;
    }

 .highlights-box {
    background-color:#e2e2e2;
    color:black;
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
    }

footer {
    background-color:blueviolet;
    color: white;
    text-align:center;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #ccc; /*[cite:13]*/;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav, section {
        width: 100%;
    }

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    }   
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
    header h1 {
        font-size: 1.2em;
    }
    footer p {
        font-size: 0.8em;
    }    
}
